* {margin: 0; padding: 0; font-family: Tahoma; font-size: 16px;}
body, html {height: auto;}
#wrapper {width: 960px; margin: 0 auto; border-radius: 5px; border: 1px solid #000; background-color: #fff; height: auto; }
nav, header, footer {display: block}
header {border-bottom: 1px solid #000;}
h1 {padding: 30px 10px;}
h1 a {font-size: 38px; color: #1798cb; text-shadow: 0px 0px 2px #1cbfff; text-decoration: none;}
#logo {float: left; width: 150px;}
.cl {clear: both;}

#login {float: right; width: 340px; padding: 17px;background-color: #F7FAFC;}
#login label {float: left; line-height: 22px;}
#email-field, #passwd-field {float: right; width: 230px; height: 20px; border: 1px solid grey; border-radius: 3px; }
#lost-password {line-height: 25px;}
#login-btn {float: right; width: 170px; height: 25px;}

#lost-passwd-email, #generate-new-passwd-btn {width: 230px; height: 25px; border: 1px solid grey; border-radius: 3px; margin: 7px 0;  }


html {
    background-color: #fafdfe;
    background-image: url(http://zvangutis.darzelis.albinas.lt/img/fonas-repeat-x.png);
}
body {
    background-color:rgba(255, 255, 255, 0.1);
    height: 100%;
}

#content {padding: 17px; min-height: 300px;}
ul {padding-left: 30px;}


footer {text-align: center; /*background-color: #F7FAFC;*/ border-top: 1px solid #000; padding: 7px;}
a {color: #000}
