@charset "utf-8";
/* Font faces */
/*@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/
@media not print {
@font-face {
	font-family: 'Segoe UI';
	src: url('/img/fonts/segoeui.eot');
	src: local("Segoe UI"),
		 local("Segoe"),
		 local("Segoe WP"),
		 url('/img/fonts/segoeui.eot?#iefix') format('embedded-opentype'),
		 url('/img/fonts/segoeui.woff') format('woff'),
		 url('/img/fonts/segoeui.svg#SegoeUI') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Semibold';
	src: url('/img/fonts/seguisb.eot');
	src: local("Segoe Semibold"),
		 local("Segoe WP Semibold"), 
		 url('/img/fonts/seguisb.eot?#iefix') format('embedded-opentype'),
		 url('/img/fonts/seguisb.woff') format('woff'),
		 url('/img/fonts/seguisb.svg#SegoeUISemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Bold';
	src: url('/img/fonts/segoeuib.eot');
	src: local("Segoe Bold"),
		 local("Segoe WP Bold"),
		 url('/img/fonts/segoeuib.eot?#iefix') format('eot'), /* Wrong format will tell IE9+ to ignore and use WOFF instead. MSHAR-2822 */
		 url('/img/fonts/segoeuib.woff') format('woff'),
		 url('/img/fonts/segoeuib.svg#SegoeUIBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI Light';
	src: url('/img/fonts/segoeuil.eot');
	src: local("Segoe UI Light"),
		 local("Segoe WP Light"),
		 url('/img/fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
		 url('/img/fonts/segoeuil.woff') format('woff'),
		 url('/img/fonts/segoeuil.svg#SegoeUILight') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {font-family: 'Segoe UI', Tahoma; margin: 0; padding: 0;}/*'Open Sans', *//*TODO: font size?*/
/** {
	font-family: 'Times New Roman', serif;
	font-size: 16px;
}*/
a {color: #357d32;}
a:hover {text-decoration: underline;}
a img {border:0;}
table a.highlight {background-color: #357d32; color: #f9fef9; padding: 1px 3px;}

header {display: block;}
#header {height: 45px; /*z-index: 1000;*/ padding-right: 15px; background-color: #357d32; line-height: 45px; color: #f9fef9; font-size: 16px; text-align: right;}
#title {float: left; padding: 0px 15px; height: 100%; background-color: #2b2c2b;/*SegoeUI*/ color: #c8c8c8; max-width: 290px; min-width: 360px;/*200px*/ text-align: left;  }

#nav {
	padding-top: 7px;/*7px*/
	font-size: 15px; color: #2b2c2b; width: 229px; text-align: left; /*border-right: 1px solid #a5ada5;*/
	position: fixed; top: 45px; right: 0; bottom: 0; left: 0; /*z-index: -2;*/ /*overflow-y: auto;*/
	/*z-index: -1;*/
}
	#nav a {color: #fff;/*#2b2c2b;*/ text-decoration: none;}
	#nav a:hover {text-decoration: underline;}
	#content-sidebar #nav * {font-family: 'Segoe UI', Tahoma;}
	#nav:first-child {overflow-y: auto;}
	#nav ul {/*padding-left: 10px;*/ list-style-type: none;}
	/*#nav ul ul {padding-left: 0px;}*/
	#nav li {padding: 0px; line-height: 25px; padding-left: 31px; background-position: left center; background-repeat: no-repeat; }
	#nav li ul > li {padding-left: 7px;}
	#nav li ul > li > ul {list-style-type:disc; /*list-style-image: url(img/menu-bullet.png);*/  padding-left: 0px; list-style-position: inside; /*padding-left: 15px;*/}
	#nav li ul > li > ul > li {padding-left: 10px; /*padding-left: 10px;*/ /*background-image: url(img/menu-bullet.png); background-position: 3px center;*/  }
	#nav .active a, #nav .active {background-color: #bcd8bc; color: #000/*#72b555*/; font-weight: 900; /*font-style: italic;font-size: 16px;*/ }
	#nav .active-parent a, #nav .active-parent {background-color: rgba(188, 216, 188, 1); color: #000/*#72b555*/; font-weight: 900; /*font-style: italic;font-size: 16px;*/ }
	a.a-opened { display: inline-block; margin: 4px; padding: 4px; background-color: #bcd8bc/*rgba(188, 216, 188, 1)*/; /*color: #000*//*#72b555*/; font-weight: 900; /*font-style: italic;font-size: 16px;*/ }
	a.a-opened:before {content: '➤ '; /*padding-left: -20px; width: 20px;*/ /*display: block; float: left;*/}
	.fast-action-archive.a-opened:before {content: ' ➤ '; display: inline-block; width: 20px;}
	.fast-action-archive.a-opened {padding-left: 22px;}
	.fast-action-delete.a-opened:before {content: ' ➤ '; display: inline-block; width: 18px;}
	.fast-action-delete.a-opened {padding-left: 20px;}
	.fast-action-add.a-opened:before {content: ' ➤ '; display: inline-block; width: 20px;}
	.fast-action-add.a-opened {padding-left: 22px;}
	
	
	#nav li ul > li.active {margin-left: -31px; padding-left: 37px;}
	/*#nav .active,*/ .opened-row { background-color: #bcd8bc; }
	#nav .separator {background-color: #357d32  /*357d32 - senasis, 3e7134 -tamsiausias*/; color: #fff; height: 30px; line-height: 30px; }
	#nav .linked:before {content: '❴ '; margin-left: -20px; margin-top: 20px; font-size: 30px; width: 20px; display: block; float: left;}
/*
15 vidiniai
*/
#content-sidebar {
	color: #000; text-align: left; /*float: right;*/ /*margin-left: 230px;*/ background-color: #f3f9f5;/*z-index: -2;*/
	border-left: 1px solid #a5ada5;
	position: absolute; top: 45px; right: 0; bottom: 0; left: 229px;/*overflow-y: auto;*/
}
#content-sidebar * {font-family: 'Segoe UI', Tahoma;}
#content-sidebar table * {font-family: 'Segoe UI', Tahoma;}
	#content-wrapper {margin-left: -1px; border-left: 1px solid #a5ada5;}
		#menu-toggle {color: #e9f2e9; width: 28px; height: 38px; line-height: 38px; text-align: center; background-image: url(/img/sidebar-toggle.png); background-repeat: no-repeat; background-position: center center; cursor: pointer; float: left; }
		.menu-toggle-opened {border-right: 1px solid #a6ada6; border-bottom: 1px solid #a6ada6;}
		.menu-toggle-closed {border-top: 1px solid #a6ada6; border-left: 1px solid #a6ada6; }
		#content {clear: both; margin-left: 14px; padding-top: 1px; min-width: 400px;/*min-width: 767px*/ /*229+14+X*/}
		#content ul {margin-left: 25px;}
		
#nav, #menu-toggle, body {background-color: rgba(50, 56, 50, 1)/*#3B6939*/ /*#357d32*//*rgba(50, 56, 50, 1)*//*rgba(44, 44, 41, 0.8)*//*0.85 #242422*/; /*e9f2e9;*/ color: #fff;}
#content-wrapper {background-color: #f3f9f5;}

h1 {font-size: 20px; margin-left: 20px; display: block; float: left; line-height: 38px; }
h2, legend {font-size: 18px; font-weight: bold; margin-bottom: 7px; color: #2b2c2b; margin-top: 20px; border-bottom: 4px solid #2b2c2b;}
h3 {font-size: 18px; font-weight: bold; margin-bottom: 7px; padding: 5px; /*background-color: #2b2c2b; color:#fff;*/ margin-top: 20px; border-bottom: 1px solid #2b2c2b;}


form p, form > div[class=""] {padding-top: 7px;}
.sel-wrapper {margin-top: 7px;}
}/*End not print */
.sel-wrapper label {float: left; display: block;}

.sel-wrapper div.sel {float: right;}
.sel-wrapper:after {
	content:'';
	display:block;
	clear: both;
}
@media not print {
/*input[type="file"] {background-color: #2b2c2b; color: #f9fef9; font-size: 16px;}*/
label, input, select, button { font-size: 16px; }
#content-sidebar input, #content-sidebar select, #content-sidebar textarea, #content-sidebar button {border: 1px solid #b3d1b3; border-radius: 3px; font-family: 'Segoe UI'/*Light*/, Tahoma;}

input, textarea, button {border: 1px solid #b3d1b3; background-color: #f9fef9;}
input, select, textarea, button {padding: 0px 5px;}
input, button {vertical-align: middle; height: 31px;}
textarea { font-size: 15px; width: 98%; }/*font-family: 'Segoe UI', Tahoma;*/
#content-sidebar input[type=file] {border: 0;}
input[disabled], textarea[disabled] { background-color:#E8E8E8 }
/*
CSS input file
http://stackoverflow.com/questions/4909228/style-input-type-file
http://stackoverflow.com/questions/572768/styling-an-input-type-file-button
http://www.quirksmode.org/dom/inputfile.html
http://jsfiddle.net/gabrieleromanato/mxq9R/
*/
select { height: 33px; line-height: 33px; vertical-align: top; background-color: transparent; color: #2b2c2b; border: 0; padding: 0px 40px 0px 10px; -webkit-appearance:none; -moz-appearance:none; appearance: none; /**width: auto;*//*IE 6&7*/ }/*border-radius: 3px;*/
.sel {background: url('/img/select.png') no-repeat right top #f9fef9;/*e9f2e9*/ overflow: hidden;  vertical-align: middle; display: inline-block; /*position:absolute; right: 30px;*/ }
@-moz-document url-prefix() {
	select { width: 115%;/*for Fx*/ }
}
/*@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	select { width: 155%;/*for Opera/ padding-right:30px;	}
}*/
noindex:-o-prefocus, select {
	width: 115%;/*for Opera*/ /*padding-right:30px;*/
}
/*select::-ms-expand { display: none; }*/
/*select:focus { outline: none; }*/
/*
https://gist.github.com/joaocunha/6273016 - useful
http://cssdeck.com/labs/styling-select-box-with-css3 - nice

http://www.tutorialrepublic.com/faq/how-to-create-custom-select-boxes-using-css-and-jquery.php
http://red-team-design.com/making-html-dropdowns-not-suck/
http://codepen.io/gnclmorais/details/cHkqt
http://stackoverflow.com/questions/18092123/css-custom-dropdown-select-that-works-across-all-browsers-ie7-ff-webkit
https://coderwall.com/p/w7npmq
*/
label {line-height: 33px; vertical-align: middle;}



table {clear: both; margin-top: 7px; border-collapse:collapse; background-color: #f9fef9;}
table, th, td { border: 1px solid #A4BDA5;/*b8d4b8*/ padding:3px 5px 2px 5px; }
.Monday {border-left: 3px solid #A4BDA5;}
th, td {font-size: 15px;}
td {vertical-align: top;}
th { background-color: #e9f2e9; color: #1d201c; }
.email { background-color: #e9f2e9; color: #1d201c; }
.email-accessed { background-color: #357d32; /*color: #fff;*/color: #000; /*#f3f9f5*/}
/*input[type=text] {width: 180px;}
table {border-collapse:collapse}
table, th, td {
	border: 1px solid #98bf21;
	padding:3px 5px 2px 5px;
}
body {
   background-image:url('/img/smelis22.jpg');
   background-repeat:repeat-x;
   background-attachment: fixed;
   height: auto;
}*/
table:not(.no-hover) tr:hover, .hover {background-color: #FFFFCC;/*TODO: change to an A image*/}


.red, .error {background-color: #680000; color: #fff;}
.green, .ok {background-color: #006600; color: #fff;/* display: none;*/}
.yellow, .warn, .already-reminded, .not-saved, .warning {background-color: #FFFF99}
.error, .ok, .warn {text-align: center; display:block; margin: 7px 0px; padding: 3px 0px; }
.required {color: #d81919}

}/*End not print */
.notice, .not-important {color: #474747;}
@media not print {
.simpleoff, .absent, .late {background-color: #F26B6B}
.simpleon, .present {background-color: #81A568}

/*NEW:*/
.filter, .submit, .selected-level { color: #f9fef9; border: 0; /*width: 102px;*/ height: 33px; }
.filter {background-color: #2b2c2b;}
.submit {background-color: #357d32; padding: 0px 10px; margin-bottom: 30px;}
.selected-level {background-color: #357d32; padding: 0px 10px; font-weight: bold;}
.selected {font-weight: bold;}

.back {cursor: pointer; text-decoration:underline;}
}/*end not print*/
@media print {
	.progress-selection {display: none;}
	.selected-level {display: block;}
}

.center {text-align: center}
.right {text-align: right}

.fl {float: left}
.cl {clear: left}
@media not print {
.abbr {border-bottom: 1px dotted #000000;/*dashed*/ cursor:help;}
#nav .abbr {border-bottom: 1px dotted #fff;/*dashed*/}
}/*end not print*/
.money {text-align:right}
@media not print {
.not-saved {position: fixed; bottom: 0; /*left:0; right: 0;*/ padding: 5px; width: 100%; height: 20px; font-weight: bold; }

#justifies p {margin: 0; padding: 0;}

/*#logout {right: 0px; top: 0px; padding: 5px; position: fixed; background-color: #BBDAEC; width: 62px;}*/

#targetcol li {max-width: 280px; padding: 0px 5px; cursor: pointer;}
#targetcol ul {list-style-type: none;}

/*#nav {
	text-align: center;
	margin-right: 62px;
}
#nav a {
	color: #000;
}
.active {font-weight: bold;}*/

legend {width: 100%; /*background-color: #fff; padding: 7px; font-size: 18px;*/}
fieldset {margin-top: 30px;/*background-color: #fff*/ border: none;}

/* Print instructions */
.tutorial {margin-top: 10px; display: none}
.tutorial img {border: 1px solid grey;}

}/*end not print*/
/*#content*/ input[type=checkbox] {
	height: 33px;
	width: 66px;
}
/*
http://stackoverflow.com/questions/306924/checkbox-size/13210588#13210588
http://stackoverflow.com/questions/13631537/create-css-to-enlarge-checkboxes
	http://jsfiddle.net/EZHwR/1/
	http://ryanfait.com/resources/custom-checkboxes-and-radio-buttons/
http://stackoverflow.com/questions/14909556/how-to-increase-checkbox-size-in-mobile-or-tablet-browser-based-web-pages
	http://demos.jquerymobile.com/1.4.3/checkboxradio-checkbox/
	http://uniformjs.com/?theme=default
http://dabblet.com/gist/1506530
*/


.date-cell {width:77px;/*74px;*/}
@media not print {
.fast-action {font-weight: bold; font-style: italic;}
.fast-action-add {padding-left: 22px; background: url(/img/add.png) no-repeat left center;}
.fast-action-delete {padding-left: 21px;/*13 org vietoje 18*/ background: url(/img/actions/delete.png) no-repeat 3px center;}
.fast-action-archive {padding-left: 25px; background: url(/img/actions/archive.png) no-repeat 3px center;}
.fast-action-print {margin-left: 10px;  padding-left: 22px; background: url(/img/print.png) no-repeat left center;}

.weather-term {clear: left; float: left; width: 130px;}
.weather-term-desc {float: left; font-weight: bold;}

/*Vaikai*/
#table-columns-toggle {margin-top: 7px;}
.infoBox {border: 1px solid grey;}
}/*End not print */

#child-form {/*width: 585px;*/}
.vaikas > p, .vaikas > div, .vaikas textarea {
	clear: right;
	display: block;
	width: 620px;/*594px;*//*585px*/
	/*margin: 0 auto;*/
	line-height: 20px;
	vertical-align: top;
}
.vaikas input[type=text], .vaikas input[type=date] {
	float: right;
	/*cl*/
	width: 279px;
	margin: 0;
}

.vaikas input[type=checkbox] {
	float: right;
	margin-right: 239px;/*193*/
	/*width: auto !important;*/
}
.vaikas .sel {
	width: 290px;
}
.vaikas select {
	width: 305px;
}
.vaikas .height-for-reduced-size {height: 33px;}
.vaikas div.free-food-option {float: right; width: 139px;}
.vaikas label.free-food-option {line-height: 33px; vertical-align: top;}
.vaikas input.free-food-option {margin-right: 0px; width: 33px;}
@media print {
.vaikas label, .vaikas label.free-food-option {line-height: 25px;}
.vaikas input, .vaikas select {height: 25px;}
}
@media not print {
/*Darbuotojai*/
/*#employee-form {width: 410px;}*/
#darb p, #darb div, #darb textarea {
	display: block;
	width: 490px;
	/*margin: 0 auto;*/
}
#darb textarea { height: 50px; }
#darb input[type=checkbox] {
	float: right;
	margin-right: 170px;
	/*width: auto;*//*10px !important;*/
}
#darb input[type=text] {/*, #darb select*/
	float: right;
	clear: right;
	width: 230px;
	/*margin: 0;*/
}
#darb .sel {
	width: 242px;
}
#darb select {
	width: 260px;
}
/*logins*/
#login-form-fieldset {/*width: 590px;*/ margin-top: 40px;}
/*Documents*/
#document-form {/*width: 400px;*/ margin-top: 40px}

/*Papildoma veikla*/
/*#additional-activity .sel {width: 250px;}*/

/*Puslapiai*/
#psl p, #psl textarea {
	display: block;
	width: 900px;
	/*margin: 0 auto;*/
}
#psl textarea {
	height: 600px;
}
/*#psl input[type=checkbox] {
	float: right;
	margin-right: 170px;
	/*width: auto !important;/
}*/
#psl input, #psl select {
	float: right;
	clear: right;
	width: 500px;
}

/*Schedule*/
table tr.line, table .line td { border-top: 1px solid #000000; }

/* Achievements */
#report-form textarea {
	display: block;
	width: 410px;
}
#new-report-form textarea {
	width: 250px;/*187px*/
}
#report-form {margin: 20px 0px;/*width: 410px*/}
/*.achievements-list input {width: 350px;}*/
.achievements-list textarea {height: 33px; display: inline !important;}
.achievements-list * {line-height: 33px;}
.achievements-list a {vertical-align: top;}

/*Lankomumas*/
#attendance-day-form {margin: 0px 0px 20px 0px; /*width: 250px;*/}
#attendance-form {margin: 0px 0px 20px 0px; /*width: 350px;*/}
.pastabos {width: 350px; height: 20px;}
td p {margin: 0; padding:0}
.additional-mark input[type="radio"] {
    display:none; 
}
th.days {font-size: 14px; padding:0;}

.additional-mark span {
	color: rgb(53, 125, 50);
	font-size: 20px;
	display: inline-block;
	min-width: 33px;
	background-color: #F0F0F0;
	text-align: center;
}
.additional-mark input[type="radio"]:checked + span { 
    font-weight: bold;
    color: #000;
}





/*Planavimas*/
#planning_form textarea {display: block; height: 50px; min-width: 200px;/*800*/}
#planning_form .details {color: grey;}

#planning-view {border: 1px solid #000; margin: 10px; padding: 10px;}
}/*end not print*/
#planning-view .title {color: #404040 ; font-weight: bold; }
#planning-view .details {color: grey;}
#planning-view > p {padding-top: 10px;}

@media not print {
#planning-view li {margin-left: 40px;}
input.individual_plan {min-width: 200px; width: 50%;}

#sortable .field/*> div*/ {border-bottom: 1px solid grey; padding: 7px 7px; background-color: #FBFBFB;}
/*#sortable > div:nth-child(even) {background-color: #E9E9E9;}*/
#sortable .field:first-child {border-top: 1px solid grey;}
#forms input[type="text"] {min-width: 200px; width: 450px;}
.remField {float: right; display: block;}
#forms-width {width: 850px;}
#forms input[type="submit"] {width: 100%;}
#forms .addField {margin: 3px 0px; display: block; }
/*#forms .aaa {float: left; margin-right: 5px; margin-left: 100px;}*/
#forms .options { margin-left: 100px; }
#forms label::first-letter { font-weight: bold; color: red; }

#form-fill textarea, #form-preview textarea {min-width: 200px; width: 600px; min-height: 130px;}
#form-fill .details, #form-preview .details {color: grey;}


/*Ziburėliui, planavime*/
#tbody textarea { width: 200px;}


/*Susirašinėjimas
.msg {}*/
.msg-myself {color: #303030;}
.msg-created, .msg-from {color: grey;}
.msg-unread {font-weight: bold}

#latest-new-msg {float: left; width: 300px; border-right: 1px solid grey; margin-right: 10px;}

/*.click-to-edit:hover:after {content: " Paspauskite, kad redaguotumėte";}
.click-to-edit:hover {text-overflow: clip; white-space: nowrap;}*/

/*Tabeliai*/
.pastabos-tabeliai {width: 200px;}
.charge-tabeliai {width: 50px;}
}/*End not print */

#tabelis-tbl tr th {text-align: center}

@media not print {
.datepicker, .dateInputReadOnly {width: 95px; }
.dateInputReadOnly {background-color: #E8E8E8;}

/*Ziburėliui, planavime*/
#tbody textarea { width: 200px;}


  .ui-tooltip, .arrow:after {
	background: #000;
	border: 2px solid white;/*!imporant*/
	max-width: 550px;/*!imporant*/
  }
  .ui-tooltip {
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
	/*font: bold 14px "Helvetica Neue", Sans-Serif;*/
	font-size: 16px;/*!imporant*/
	box-shadow: 0 0 7px black;
  }
  .arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;
  }
  .arrow.top {
	top: -16px;
	bottom: auto;
  }
  .arrow.left {
	left: 20%;
  }
  .arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	box-shadow: 6px 5px 9px -9px black;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  .arrow.top:after {
	bottom: -20px;
	top: auto;
  }
  
}/*End not print */

#form-fill .plan input[type="number"] {width: 35px;}
#form-fill .plan textarea {width: 145px;}

.hide {display: none;}

.on-print {display: none;}
@media print {
	.on-print {display: inline;}
	* {font-family: 'Times New Roman', serif !important; background-color: #fff /*!important*/;}
	body, td, th, span, p, div, label, input, textarea, button, select {
		font-size: 12pt !important;
	}
	#tabelis-tbl * {font-size: 12px !important;}
	.tabeliai {font-size: 12px !important;}
	.kvitai * {font-size: 12px !important;}
	
	input, button, select {vertical-align: middle; /*height: 15px;*/}/*del Pasiekimų žingsneliai */
	input, select, textarea, button {padding: 0px 2px;}
	#content input[type=checkbox] { height: 15px; }
	select {/*line-height: 15px;*/ border: 0;}/*del Pasiekimų žingsneliai */
	.sel {border: 0}
	label { line-height: 33px; clear: left !important; }
	span.abbr {border-bottom: none;}
	p {
		margin:0;
		padding: 2px 0 2px 0
	}
	.no-print, .notice {
		display: none;
	}
	table {border-collapse:collapse;}
	table, th, td {
		border: 1px solid #000;
		/*padding:1px 1px 1px 1px;*/
		padding:3px 1px 2px 1px;
	}
	table a {color: #000; text-decoration: none;}
	.Monday {border-left: 3px solid #000/*#A4BDA5*/;}
	.activities td, .activities th { padding:3px 5px 2px 5px;}
	h1 {font-size: 14px; line-height: 14px; margin: 0; padding: 0;}/*Bitučių, Gandriukų ~Drug, Lapiukų*/
	#planning-view {border: none;}
	#planning-view p {text-align: justify; padding: 5px 0px;}
	select {background: none; border: none; -webkit-appearance:none; -moz-appearance:none; appearance: none;}
	.date-cell {width:75px;/*56*/}
	#child-form, #child-form fieldset, #child-form input, #child-form textarea {border: 0;}
	#child-form { margin-top: 0px; }
	#child-form input[type=submit], #child-form .required {display: none;}
	
	#child-form ::-webkit-input-placeholder { color:#fff; }
	#child-form ::-moz-placeholder { color:#fff; } /* firefox 19+ */
	#child-form :-ms-input-placeholder { color:#fff; } /* ie */
	#child-form input:-moz-placeholder { color:#fff; }
	
	#menu-toggle {display: none;}
	
	#content-wrapper {border: 0;}
	
	#content-sidebar {
		color: #000; text-align: left; /*background-color: #f3f9f5;*/
		border-left: none;
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;/*overflow-y: auto;*/
	}
	.print {display: block;}
	
	
	
	/*table#tabelis-tbl .ordered { color: #fff !important; font-size: 7px !important; }
	table#tabelis-tbl .notOrdered span { background-color: #fff !important; color: #000 !important; }*/
	
	table#tabelis-tbl .ordered, table#tabelis-tbl .notOrdered { -webkit-print-color-adjust:exact;  width: 100%; }
	table#tabelis-tbl .ordered div, table#tabelis-tbl .notOrdered div {background-color: transparent; height: 7px; font-size: 7px !important; line-height: 7px; text-align: center;font-family: verdana;}
	table#tabelis-tbl .ordered { background-color: #000 !important; color: #fff !important; 
	/*box-shadow: inset 0 0 0 1000px #000; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000', endColorstr='#000')";  IE8 */
	 }
	table#tabelis-tbl .notOrdered { background-color: #fff !important; color: #000 !important; }
	
	@-moz-document url-prefix() {
		table#tabelis-tbl .ordered {
			position: relative;
			overflow: hidden;
		}
		table#tabelis-tbl .ordered:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			border: 999px #000 solid;
			z-index: 0;
		}
		table#tabelis-tbl .ordered div {
			position: relative;
			z-index: 10;
			background-color: #000 !important;
			color: #fff !important;
		}
	}
	.print-bg td { -webkit-print-color-adjust:exact; }
}
.ordered, .notOrdered {height: 7px; width: 100%; font-size: 7px !important; line-height: 7px; text-align: center; font-family: verdana;}
.ordered {background-color: #000 !important;  color: #fff !important;}
.notOrdered {background-color: #fff !important; color: #000 !important;}
						
/*New achievements START*/
.rotate {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  margin-left: -26px;
}
.darker { background-color:#e9f2e9; width: 15px; }
.dialog { display: none; }
.dialog li { margin-left:25px; }
.step-center {text-align: center;}

.primary-data-label, .secondary-data-label {float: left; line-height: 32px; /*margin-right: 0px;*/ padding: 0px 3px; padding-left: 5px;}
.primary-data-label { /*background-color: #666;*/ color: #fff; background-color: #000;  }
.secondary-data-label { /*background-color: #bcd8bc;*/ color: #fff; background-color: #357d32; }
@media print {
	#new-report-form textarea {height: auto !important; min-height: 10px !important;}
	#new-report-form button {height: auto !important;}
}

#dialog-control {display: none; background-color: rgba(50, 56, 50, 1); color: #fff; position: fixed; padding: 3px 10px; left:0; top:0px; width: calc(100% - 20px); /*155 35px*/ height: 23px; line-height: 20px; font-size: 20px; z-index: 2; }/* right: 20px; */
#dialog-control span#dialog-title  {font-weight: normal; text-align: left;}
#dialog-control div span {cursor: pointer; font-weight: bold;}

#achievements-dialog .dialog {position: fixed; padding: 10px; left:0px; right: 0px; top:29px; overflow: scroll; width: calc(100% - 60px); height: calc(100% - 36px); background-color: #fff; z-index: 2; border-left: 20px solid rgba(0, 0, 0, 0.5); border-right: 20px solid rgba(0, 0, 0, 0.5);}

/*New achievements END*/


ol.goodies {margin: 0; margin-left: 30px; padding: 0; list-style-type: none;}
.goodies li {margin: 10px 0px; padding-left: 40px; min-height: 80px/*30px*/;}
.goodies .img {width: 0/*23px*/; margin-left: -70px/*-40px*/; padding-right: 90px/*40px*/; display: block; float: left; vertical-align: top}
.goodies img {height: 80px;/*35px*//*18px*/; vertical-align: top}
/* {color: #000;}*/
.goodies .important {color: red;}
.goodies .desc {color: #404040;}

ol.foto {margin: 0; margin-left: 0px; padding: 0; list-style-type: none;}
.foto li:first-child {padding-top: 0px;}
.foto li {clear: left; padding-top: 10px; margin: 10px 0px; padding-left: 0px; min-height: 80px/*30px*/;}
.foto .img { width: 0/*23px*/; margin-left: 0px/*-40px*/; padding-right: 160px/*40px*/; display: block; float: left; vertical-align: top}
.foto img {max-height: 150px; max-width: 150px;/*35px*//*18px*/; vertical-align: top}

.suggested {color: #357d32; font-weight: bold;}

.introjs-tooltiptext {color: #000;}
.blackText {color: #000}
#lank1, #lank2 {display: block;}


.nZ {cursor: pointer; color: #357d32; font-weight: bold;}
.nZ:hover {text-decoration: underline;}
#nZ div.exitDiv{cursor: pointer; border-bottom: 4px solid #357d32; border-left: 4px solid #357d32; position: absolute; top: 0; right: 0; height: 30px; width: 30px; line-height: 30px; text-align: center;}
#nZ{padding: 30px; position: absolute; display: none; color: white; width: 400px; background: rgba(50, 56, 50, 1); border: 4px solid #357d32;}
#blackScreen{display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.7);}

.href {color: #357d32; cursor: pointer; text-decoration: underline;}
.href:hover {text-decoration: underline;}

textarea, input, select, option, button {cursor: pointer;}

#webkit img, #firefox img {border: 1px solid #000000;}

a[href^="http://"]:not([href*="musudarzelis.lt"]), a[href^="https://"]:not([href*="musudarzelis.lt"]) { background:transparent url(../img/icon/external.png) no-repeat scroll right center; padding-right:13px; }
a.doc, a[href$=".doc"], a[href$=".docx"], a[href$=".odt"], a[href$=".ott"], a[href$=".oth"], a[href$=".odm"] { background:transparent url(../img/icon/doc.gif) no-repeat scroll right center; padding-right:16px; padding-top: 1px; padding-bottom:1px; }
a.pdf, a[href$=".pdf"] { background: url("/img/icon/pdf.gif") center right no-repeat; padding-right: 17px; }
a.xls, a[href$=".xls"], a[href$=".xlsx"], a[href$=".ods"], a[href$=".ots"] { background: url("../img/icon/excel.gif") center right no-repeat; padding-right: 17px; padding-top: 1px; padding-bottom:1px; }
a.ppt, a[href$=".ppt"], a[href$=".pptx"], a[href$=".odp"], a[href$=".odg"], a[href$=".otp"] { background: url("../img/icon/powerpoint.gif") center right no-repeat; padding-right: 17px; padding-top: 1px; padding-bottom:1px; }
/*https://kdeonlinux.wordpress.com/2015/03/25/breeze-love-libre-office/ https://community.kde.org/KDE_Visual_Design_Group/LibreOffice_Breeze */
