* {
	font-family: 'Times New Roman', serif;
	font-size: 16px;
}
input[type=text] {width: 180px;}
table {border-collapse:collapse}
table, th, td {
    border: 1px solid #98bf21;
    padding:3px 5px 2px 5px;
}
body {
   background-image:url('/img/smelis22.jpg');
   background-repeat:repeat-x;
   background-attachment: fixed;
   height: auto;
}
tr:hover, .hover {background-color: #FFFFCC;}
a img {border:0;}
.red, .simpleoff, .error {background-color: #680000; color: #fff;}
.green, .simpleon, .ok {background-color: #006600; color: #fff;/* display: none;*/}
.yellow, .warn {background-color: #FFFF99}
.error, .ok, .warn {text-align: center}
.required {color: #d81919}

.back {cursor: pointer; text-decoration:underline;}
.center {text-align: center}
.right {text-align: right}
.fl {float: left}
.cl {clear: left}
.abbr {border-bottom: 1px dotted #000000;/*dashed*/}
#justifies p {margin: 0; padding: 0;}

#logout {right: 0px; top: 0px; padding: 5px; position: fixed; background-color: #BBDAEC; width: 62px;}

#targetcol li {max-width: 280px; }
#targetcol ul {list-style-type: none;}

#nav {
	text-align: center;
	margin-right: 62px;
}
#nav a {
    color: #000;
}
.active {font-weight: bold;}

legend {background-color: #fff; padding: 7px; font-size: 18px;}
fieldset {margin-top: 30px;background-color: #fff}

/*Vaikai*/
#table-columns-toggle {margin-top: 7px;}
.infoBox {border: 1px solid grey;}
#child-form {width: 590px;}

.vaikas p, .vaikas textarea {
    display: block;
    width: 560px;
    /*margin: 0 auto;*/
}
.vaikas input[type=checkbox] {
    float: right;
    margin-right: 270px;/*193*/
    width: auto !important;
}

.vaikas input[type=text], .vaikas input[type=date], .vaikas select {
    float: right;
    clear: right;
    width: 279px;
    margin: 0;
}

/*Darbuotojai*/
#employee-form {width: 410px;}
#darb p, #darb textarea {
    display: block;
    width: 400px;
    /*margin: 0 auto;*/
}
#darb textarea { height: 50px; }
#darb input[type=checkbox] {
    float: right;
    margin-right: 220px;
    width: auto;/*10px !important;*/
}
#darb input, #darb select {
    float: right;
    clear: right;
    width: 230px;
    margin: 0;
}
/*logins*/
#login-form-fieldset {width: 590px; margin-top: 40px;}
/*Documents*/
#document-form {width: 400px; margin-top: 40px}
/*Puslapiai*/
#psl p, #psl textarea {
    display: block;
    width: 900px;
    /*margin: 0 auto;*/
}
#psl textarea {
    height: 600px;
}
#psl input[type=checkbox] {
    float: right;
    margin-right: 170px;
    width: auto !important;
}
#psl input, #psl select {
    float: right;
    clear: right;
    width: 500px;
}

/* Achievements */
#report-form textarea {
	display: block;
	width: 400px;
}
#report-form {margin: 20px 0px; width: 410px;}
.achievements-list input {width: 350px;}

/*Lankomumas*/
#attendance-day-form {margin: 10px 0px; width: 250px;}
#attendance-form {margin: 10px 0px; width: 350px;}
.pastabos {width: 350px; height: 20px;}
td p {margin: 0; padding:0}

.absent {background-color: #F26B6B}
.present {background-color: #81A568}

/*Planavimas*/
#planning_form textarea {display: block; height: 50px; width: 800px;}
#planning_form .details {color: grey;}

#planning_view {border: 1px solid #000; margin: 10px; padding: 10px;}
#planning_view .title {color: #404040 ; font-weight: bold; }
#planning_view .details {color: grey;}

input.individual_plan {width: 600px;}

#sortable > div {border-bottom: 1px solid grey; padding: 7px 7px; background-color: #FBFBFB;}
#sortable > div:nth-child(even) {background-color: #E9E9E9;}
#sortable div:first-child {border-top: 1px solid grey;}
#forms input {width: 450px;}
.remField {float: right; display: block;}
#forms {width: 770px;}
#forms input[type="submit"] {width: 100%;}

#form-fill textarea, #form-preview textarea {min-width: 500px; min-height: 130px;}
#form-fill .details, #form-preview .details {color: grey;}

/*Ziburėliui, planavime*/
#tbody textarea { width: 200px;}


/*Susirašinėjimas
.msg {}*/
.msg-myself {color: #303030;}
.msg-created, .msg-from {color: grey;}
.msg-unread {font-weight: bold}

#latest-new-msg {float: left; width: 300px; border-right: 1px solid grey; margin-right: 10px;}

/*.click-to-edit:hover:after {content: " Paspauskite, kad redaguotumėte";}
.click-to-edit:hover {text-overflow: clip; white-space: nowrap;}*/

/*Tabeliai*/
.pastabos-tabeliai {width: 200px;}

.datepicker {width: 90px; }

/*Ziburėliui, planavime*/
#tbody textarea { width: 200px;}


.date-cell {width:74px;}
@media print {
	body, td, th, span {
		font-size: 12px;
	}
	span.abbr {border-bottom: none;}
	p {
		margin:0;
		padding: 2px 0 2px 0
	}
	.no-print {
		display: none;
	}
	table, th, td {
		border: 1px solid #000;
		padding:1px 1px 1px 1px;
	}
	h1 {font-size: 16px}
	#planning_view {border: none;}
	select {background: none; border: none; -webkit-appearance:none; -moz-appearance:none; appearance: none;}
	.date-cell {width:56px;}
	#child-form, #child-form fieldset, #child-form input, #child-form textarea {border: 0;}
	#child-form { margin-top: 0px; }
	#child-form legend, #child-form input[type=submit], #child-form .required {display: none;}
	
	#child-form ::-webkit-input-placeholder { color:#fff; }
	#child-form ::-moz-placeholder { color:#fff; } /* firefox 19+ */
	#child-form :-ms-input-placeholder { color:#fff; } /* ie */
	#child-form input:-moz-placeholder { color:#fff; }
}
