@charset "utf-8";
.sel-wrapper label {float: left; display: block;}

.sel-wrapper div.sel {float: right;}
.sel-wrapper:after {
	content:'';
	display:block;
	clear: both;
}

.notice, .not-important {color: #474747;}
/*@media print {*/
	.progress-selection {display: none;}
	.selected-level {display: block;}
/*}*/

.center {text-align: center}
.right {text-align: right}

.fl {float: left}
.cl {clear: left}
.money {text-align:right}

/*#content*/ input[type=checkbox] {
	height: 33px;
	width: 66px;
}
/*
http://stackoverflow.com/questions/306924/checkbox-size/13210588#13210588
http://stackoverflow.com/questions/13631537/create-css-to-enlarge-checkboxes
	http://jsfiddle.net/EZHwR/1/
	http://ryanfait.com/resources/custom-checkboxes-and-radio-buttons/
http://stackoverflow.com/questions/14909556/how-to-increase-checkbox-size-in-mobile-or-tablet-browser-based-web-pages
	http://demos.jquerymobile.com/1.4.3/checkboxradio-checkbox/
	http://uniformjs.com/?theme=default
http://dabblet.com/gist/1506530
*/




#child-form {/*width: 585px;*/}
.vaikas > p, .vaikas > div, .vaikas textarea {
	clear: right;
	display: block;
	width: 620px;/*594px;*//*585px*/
	/*margin: 0 auto;*/
	line-height: 20px;
	vertical-align: top;
}
.vaikas input[type=text], .vaikas input[type=date] {
	float: right;
	/*cl*/
	width: 279px;
	margin: 0;
}

.vaikas input[type=checkbox] {
	float: right;
	margin-right: 239px;/*193*/
	/*width: auto !important;*/
}
.vaikas .sel {
	width: 290px;
}
.vaikas select {
	width: 305px;
}
.vaikas .height-for-reduced-size {height: 33px;}
.vaikas div.free-food-option {float: right; width: 139px;}
.vaikas label.free-food-option {line-height: 33px; vertical-align: top;}
.vaikas input.free-food-option {margin-right: 0px; width: 33px;}
/*@media print {*/
.vaikas label, .vaikas label.free-food-option {line-height: 25px;}
.vaikas input, .vaikas select {height: 25px;}
/*}*/

#planning-view .title {color: #404040 ; font-weight: bold; }
#planning-view .details {color: grey;}


#tabelis-tbl tr th {text-align: center}

#form-fill .plan input[type="number"] {width: 35px;}
#form-fill .plan textarea {width: 145px;}

.hide {display: none;}

.on-print {display: none;}
/*@media print {*/
	.on-print {display: inline;}
	* {font-family: 'Times New Roman', serif !important; background-color: #fff /*!important*/;}
	body, td, th, span, p, div, label, input, textarea, button, select {
		font-size: 12pt !important;
	}
	#tabelis-tbl * {font-size: 12px !important;}
	.tabeliai {font-size: 12px !important;}
	.kvitai * {font-size: 12px !important;}
	
	input, button, select {vertical-align: middle; /*height: 15px;*/}/*del Pasiekimų žingsneliai */
	input, select, textarea, button {padding: 0px 2px;}
	#content input[type=checkbox] { height: 15px; }
	select {/*line-height: 15px;*/ border: 0;}/*del Pasiekimų žingsneliai */
	.sel {border: 0}
	label { line-height: 33px; clear: left !important; }
	span.abbr {border-bottom: none;}
	p {
		margin:0;
		padding: 2px 0 2px 0
	}
	.no-print, .notice {
		display: none;
	}
	table {border-collapse:collapse;}
	table, th, td {
		border: 1px solid #000;
		/*padding:1px 1px 1px 1px;*/
		padding:3px 1px 2px 1px;
	}
	table a {color: #000; text-decoration: none;}
	.Monday {border-left: 3px solid #000/*#A4BDA5*/;}
	.activities td, .activities th { padding:3px 5px 2px 5px;}
	h1 {font-size: 14px; line-height: 14px; margin: 0; padding: 0;}/*Bitučių, Gandriukų ~Drug, Lapiukų*/
	#planning-view {border: none;}
	#planning-view p {text-align: justify; padding: 5px 0px;}
	select {background: none; border: none; -webkit-appearance:none; -moz-appearance:none; appearance: none;}
	.date-cell {width:75px;/*56*/}
	#child-form, #child-form fieldset, #child-form input, #child-form textarea {border: 0;}
	#child-form { margin-top: 0px; }
	#child-form input[type=submit], #child-form .required {display: none;}
	
	#child-form ::-webkit-input-placeholder { color:#fff; }
	#child-form ::-moz-placeholder { color:#fff; } /* firefox 19+ */
	#child-form :-ms-input-placeholder { color:#fff; } /* ie */
	#child-form input:-moz-placeholder { color:#fff; }
	
	#menu-toggle {display: none;}
	
	#content-wrapper {border: 0;}
	
	#content-sidebar {
		color: #000; text-align: left; /*background-color: #f3f9f5;*/
		border-left: none;
		position: absolute; top: 0; right: 0; bottom: 0; left: 0;/*overflow-y: auto;*/
	}
	.print {display: block;}
	
	
	
	/*table#tabelis-tbl .ordered { color: #fff !important; font-size: 7px !important; }
	table#tabelis-tbl .notOrdered span { background-color: #fff !important; color: #000 !important; }*/
	
	table#tabelis-tbl .ordered, table#tabelis-tbl .notOrdered { -webkit-print-color-adjust:exact;  width: 100%; }
	table#tabelis-tbl .ordered div, table#tabelis-tbl .notOrdered div {background-color: transparent; height: 7px; font-size: 7px !important; line-height: 7px; text-align: center;font-family: verdana;}
	table#tabelis-tbl .ordered { background-color: #000 !important; color: #fff !important; 
	/*box-shadow: inset 0 0 0 1000px #000; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#000', endColorstr='#000')";  IE8 */
	 }
	table#tabelis-tbl .notOrdered { background-color: #fff !important; color: #000 !important; }
	
	@-moz-document url-prefix() {
		table#tabelis-tbl .ordered {
			position: relative;
			overflow: hidden;
		}
		table#tabelis-tbl .ordered:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			border: 999px #000 solid;
			z-index: 0;
		}
		table#tabelis-tbl .ordered div {
			position: relative;
			z-index: 10;
			background-color: #000 !important;
			color: #fff !important;
		}
	}
	.print-bg td { -webkit-print-color-adjust:exact; }
/*}*/
.ordered, .notOrdered {height: 7px; width: 100%; font-size: 7px !important; line-height: 7px; text-align: center; font-family: verdana;}
.ordered {background-color: #000 !important;  color: #fff !important;}
.notOrdered {background-color: #fff !important; color: #000 !important;}
						
/*New achievements START*/
.rotate {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  margin-left: -26px;
}
.darker { background-color:#e9f2e9; width: 15px; }
.dialog { display: none; }
.dialog li { margin-left:25px; }
.step-center {text-align: center;}

.primary-data-label, .secondary-data-label {float: left; line-height: 32px; margin-right: 7px; padding: 0px 3px; padding-left: 5px;}
.primary-data-label { /*background-color: #666;*/ color: #000; }
.secondary-data-label { /*background-color: #bcd8bc;*/ color: #357d32; }
/*@media print {*/
	#new-report-form textarea {height: auto !important; min-height: 10px !important;}
	#new-report-form button {height: auto !important;}
/*}*/
/*New achievements END*/


ol.goodies {margin: 0; margin-left: 30px; padding: 0; list-style-type: none;}
.goodies li {margin: 10px 0px; padding-left: 40px; min-height: 80px/*30px*/;}
.goodies .img {width: 0/*23px*/; margin-left: -70px/*-40px*/; padding-right: 90px/*40px*/; display: block; float: left; vertical-align: top}
.goodies img {height: 80px;/*35px*//*18px*/; vertical-align: top}
/* {color: #000;}*/
.goodies .important {color: red;}
.goodies .desc {color: #404040;}

ol.foto {margin: 0; margin-left: 0px; padding: 0; list-style-type: none;}
.foto li:first-child {padding-top: 0px;}
.foto li {clear: left; padding-top: 10px; margin: 10px 0px; padding-left: 0px; min-height: 80px/*30px*/;}
.foto .img { width: 0/*23px*/; margin-left: 0px/*-40px*/; padding-right: 160px/*40px*/; display: block; float: left; vertical-align: top}
.foto img {max-height: 150px; max-width: 150px;/*35px*//*18px*/; vertical-align: top}

.suggested {color: #357d32; font-weight: bold;}

.introjs-tooltiptext {color: #000;}
.blackText {color: #000}
#lank1, #lank2 {display: block;}


.nZ {cursor: pointer; color: #357d32; font-weight: bold;}
.nZ:hover {text-decoration: underline;}
#nZ div.exitDiv{cursor: pointer; border-bottom: 4px solid #357d32; border-left: 4px solid #357d32; position: absolute; top: 0; right: 0; height: 30px; width: 30px; line-height: 30px; text-align: center;}
#nZ{padding: 30px; position: absolute; display: none; color: white; width: 400px; background: rgba(50, 56, 50, 1); border: 4px solid #357d32;}
#blackScreen{display: none; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.7);}

.href {color: #357d32; cursor: pointer; text-decoration: underline;}
.href:hover {text-decoration: underline;}
