* {
	font-family: 'Times New Roman', serif;
	font-size: 16px;
}
table {border-collapse:collapse;}
table, th, td {
	border: 1px solid #98bf21;
	padding:3px 5px 2px 5px;
}
body {
   background-image:url('/img/smelis22.jpg');
   background-repeat:repeat-x;
   background-attachment: fixed;
   height: auto;
}
   
.back {cursor: pointer; text-decoration:underline;}

.center {text-align: center}
.right {text-align: right}
.fl{float: left}
.cl {clear: left}
.red {background-color: #680000; color: #fff;}
.green {background-color: #006600; color: #fff;}
#planning_view {border: 1px solid #000; margin: 10px; padding: 10px;}
#planning_view .title {color: #404040 ; font-weight: bold; }
#planning_view .details {color: grey;}

@media print {
    body, td, th {
        font-size: 12px;
    }
    p {
        margin:0;
        padding: 2px 0 2px 0
    }
    .no-print {
        display: none;
    }
    table, th, td {
        border: 1px solid #000;
        padding:1px 1px 1px 1px;
    }
    h1 {font-size: 16px}
}
