/* Font faces */
/*@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzJ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/EInbV5DfGHOiMmvb1Xr-hp1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/K88pR3goAWT7BTt32Z01mz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/

@font-face {
    font-family: 'Segoe UI';
    src: url('img/fonts/segoeui.eot');
    src: local("Segoe UI"),
         local("Segoe"),
         local("Segoe WP"),
         url('img/fonts/segoeui.eot?#iefix') format('embedded-opentype'),
         url('img/fonts/segoeui.woff') format('woff'),
         url('img/fonts/segoeui.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('img/fonts/seguisb.eot');
    src: local("Segoe Semibold"),
         local("Segoe WP Semibold"), 
         url('img/fonts/seguisb.eot?#iefix') format('embedded-opentype'),
         url('img/fonts/seguisb.woff') format('woff'),
         url('img/fonts/seguisb.svg#SegoeUISemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('img/fonts/segoeuib.eot');
    src: local("Segoe Bold"),
         local("Segoe WP Bold"),
         url('img/fonts/segoeuib.eot?#iefix') format('eot'), /* Wrong format will tell IE9+ to ignore and use WOFF instead. MSHAR-2822 */
         url('img/fonts/segoeuib.woff') format('woff'),
         url('img/fonts/segoeuib.svg#SegoeUIBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('img/fonts/segoeuil.eot');
    src: local("Segoe UI Light"),
         local("Segoe WP Light"),
         url('img/fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
         url('img/fonts/segoeuil.woff') format('woff'),
         url('img/fonts/segoeuil.svg#SegoeUILight') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {font-family: 'Segoe UI', Tahoma; margin: 0; padding: 0;}/*'Open Sans', */

a {color: #357d32;}
body {/*overflow-y: hidden;*/}
a:hover {text-decoration: underline;}
header {display: block;}
#header {height: 45px; /*z-index: 1000;*/ padding-right: 15px; background-color: #357d32; line-height: 45px; color: #f9fef9; font-size: 16px; text-align: right;}
#title {float: left; padding: 0px 15px; height: 100%; background-color: #2b2c2b;/*SegoeUI*/ color: #c8c8c8; max-width: 290px; min-width: 200px; text-align: left;  }

#nav {
	padding-top: 7px;/*7px*/
	font-size: 15px; color: #2b2c2b; width: 229px; text-align: left; /*border-right: 1px solid #a5ada5;*/
	position: fixed; top: 45px; right: 0; bottom: 0; left: 0; /*z-index: -2;*/ /*overflow-y: auto;*/
	/*z-index: -1;*/
}
	#nav a {color: #2b2c2b; text-decoration: none;}
	#nav a:hover {text-decoration: underline;}
	#content-sidebar #nav * {font-family: 'Segoe UI', Tahoma;}
	#nav:first-child {overflow-y: auto;}
	#nav ul {padding-left: 10px; list-style-type: none;}
	/*#nav ul ul {padding-left: 0px;}*/
	#nav li {padding: 0px; line-height: 25px; padding-left: 25px; background-position: left center; background-repeat: no-repeat; }
	#nav li ul > li {padding-left: 15px;}
	#nav li ul > li > ul {list-style-type:disc; /*list-style-image: url(img/menu-bullet.png);*/  padding-left: 0px; list-style-position: inside; /*padding-left: 15px;*/}
	#nav li ul > li > ul > li {padding-left: 10px; /*padding-left: 10px;*/ /*background-image: url(img/menu-bullet.png); background-position: 3px center;*/  }
	#nav .active { background-color: #bcd8bc; }
/*
15 vidiniai
*/
#content-sidebar {
	color: #000; text-align: left; /*float: right;*/ /*margin-left: 230px;*/ background-color: #f3f9f5;/*z-index: -2;*/
	border-left: 1px solid #a5ada5;
	position: absolute; top: 45px; right: 0; bottom: 0; left: 229px;/*overflow-y: auto;*/
}
	#content-wrapper {margin-left: -1px; border-left: 1px solid #a5ada5;}
	#menu-toggle {color: #e9f2e9; width: 28px; height: 38px; background-image: url(img/sidebar-toggle.png); background-repeat: no-repeat; background-position: center center; cursor: pointer; float: left; }
	.menu-toggle-opened {border-right: 1px solid #a6ada6; border-bottom: 1px solid #a6ada6;}
	.menu-toggle-closed {border-top: 1px solid #a6ada6; border-left: 1px solid #a6ada6; }
	#content {clear: both; margin-left: 14px; padding-top: 1px;}
	#content-sidebar * {font-family: 'Segoe UI Semibold', Tahoma;}
	#content-sidebar table * {font-family: 'Segoe UI', Tahoma;}
#nav, #menu-toggle, body {background-color: #e9f2e9;}
#content-wrapper {background-color: #f3f9f5;}

h1 {font-size: 20px; margin-left: 20px; display: block; float: left; line-height: 38px; }
h2 {font-size: 18px; margin-bottom: 7px; color: #2b2c2b; margin-top: 20px; border-bottom: 1px solid #2b2c2b;}

.required {color: #d81919}
.filter, .submit { color: #f9fef9; border: 0; width: 102px; height: 30px; }
.filter {background-color: #2b2c2b;}
.submit {background-color: #357d32;}

form p {padding-top: 7px;}
/*input[type="file"] {background-color: #2b2c2b; color: #f9fef9; font-size: 16px;}*/
label, input, select { font-size: 16px; }
input {border: 1px solid #b3d1b3; height: 31px; background-color: #f9fef9;}
#content-sidebar input[type=file] {border: 0;}
/*
CSS input file
http://stackoverflow.com/questions/4909228/style-input-type-file
http://stackoverflow.com/questions/572768/styling-an-input-type-file-button
http://www.quirksmode.org/dom/inputfile.html
http://jsfiddle.net/gabrieleromanato/mxq9R/
*/
select { height: 30px; line-height: 30px; vertical-align: middle; background-color: transparent; color: #2b2c2b; border: 0; padding: 0px 40px 0px 10px; -webkit-appearance:none; -moz-appearance:none; appearance: none; width: 110%;/*for Fx*/ /**width: auto;*//*IE 6&7*/ }/*border-radius: 3px;*/
.sel {float: left; background: url('img/select.png') no-repeat right #f9fef9;/*e9f2e9*/ overflow: hidden;  /*position:absolute; right: 30px;*/ }
/*select::-ms-expand { display: none; }*/
/*select:focus { outline: none; }*/
/*
https://gist.github.com/joaocunha/6273016 - useful
http://cssdeck.com/labs/styling-select-box-with-css3 - nice

http://www.tutorialrepublic.com/faq/how-to-create-custom-select-boxes-using-css-and-jquery.php
http://red-team-design.com/making-html-dropdowns-not-suck/
http://codepen.io/gnclmorais/details/cHkqt
http://stackoverflow.com/questions/18092123/css-custom-dropdown-select-that-works-across-all-browsers-ie7-ff-webkit
https://coderwall.com/p/w7npmq
*/
label {line-height: 30px; vertical-align: bottom;}

#content-sidebar input, #content-sidebar select {border: 1px solid #b3d1b3; border-radius: 3px; font-family: 'Segoe UI Light', Tahoma;}

table {clear: both; margin-top: 7px; border: 1px solid #b8d4b8; border-collapse:collapse; background-color: #f9fef9;}
table, th, td { border: 1px solid #b8d4b8; padding:3px 5px 2px 5px; }
th, td {font-size: 15px;}
th { background-color: #e9f2e9; color: #1d201c; }

#document-form label {float: left;}
#document-form input {float: left;}
#document-form input[type=submit] {float: none;}
#document-form p {clear: left;}


/* From old: */
tr:hover, .hover {background-color: #FFFFCC;}

.red, .simpleoff, .error {background-color: #680000; color: #fff;}
.green, .simpleon, .ok {background-color: #006600; color: #fff;/* display: none;*/}
.yellow, .warn {background-color: #FFFF99}
.error, .ok, .warn {text-align: center; display:block; margin: 7px 0px; padding: 3px 0px; }
.abbr {border-bottom: 1px dotted #000000;/*dashed*/}
