@font-face {
    font-family: 'Segoe UI';
    src: url('/img/fonts/segoeui.eot');
    src: local("Segoe UI"),
         local("Segoe"),
         local("Segoe WP"),
         url('/img/fonts/segoeui.eot?#iefix') format('embedded-opentype'),
         url('/img/fonts/segoeui.woff') format('woff'),
         url('/img/fonts/segoeui.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('/img/fonts/seguisb.eot');
    src: local("Segoe Semibold"),
         local("Segoe WP Semibold"), 
         url('/img/fonts/seguisb.eot?#iefix') format('embedded-opentype'),
         url('/img/fonts/seguisb.woff') format('woff'),
         url('/img/fonts/seguisb.svg#SegoeUISemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('/img/fonts/segoeuib.eot');
    src: local("Segoe Bold"),
         local("Segoe WP Bold"),
         url('/img/fonts/segoeuib.eot?#iefix') format('eot'), /* Wrong format will tell IE9+ to ignore and use WOFF instead. MSHAR-2822 */
         url('/img/fonts/segoeuib.woff') format('woff'),
         url('/img/fonts/segoeuib.svg#SegoeUIBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('/img/fonts/segoeuil.eot');
    src: local("Segoe UI Light"),
         local("Segoe WP Light"),
         url('/img/fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
         url('/img/fonts/segoeuil.woff') format('woff'),
         url('/img/fonts/segoeuil.svg#SegoeUILight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {font-family:'KG Miss Kindergarten';src:url("/pradzia/img/fonts/KGMissKindergarten.eot?") format("eot"),url("/pradzia/img/fonts/KGMissKindergarten.woff") format("woff"),url("/pradzia/img/fonts/KGMissKindergarten.ttf") format("truetype"),url("/pradzia/img/fonts/KGMissKindergarten.svg#KGMissKindergarten") format("svg");font-weight:normal;font-style:normal;}

a img {border:0}
a {color: #83a339;}
a:hover {color: #689e66;}

* {margin: 0; padding: 0;}
body {background: #f3f9f5 url('/pradzia/img/bg.gif') no-repeat center top;}
#wrapper {width: 1000px; margin: 0 auto;}
	#logo {margin-top: 23px;/*34 23*/ float: left; display: block; }
	nav {display: block; float: right; margin-top: 50px;/*43*/ margin-right: 30px; _margin-right: 0px;}
	nav a {font-family: 'Segoe UI Light', Tahoma; font-weight: 600\9;/*IE6*/ color: #357d32; text-decoration: none; font-size: 20px; _font-size: 18px;}
	nav a:hover {text-decoration: underline}
	nav ul {list-style-type: none;}
	nav li {float: left; margin-right: 30px;}
	nav a.current {text-decoration: underline; color: #85b184;}

#content {clear: both;}

#main-header {width: 886px; height: 231px; margin: 0 auto; display: block; margin-top: 25px;
background: #fff url('/pradzia/img/kids.jpg') no-repeat left top;
/*
-webkit-box-shadow: 3px 0px 13px 2px rgba(0, 0, 0, 0.22);
-moz-box-shadow:    3px 0px 13px 2px rgba(0, 0, 0, 0.22);
box-shadow:         3px 0px 13px 2px rgba(0, 0, 0, 0.22);*/

-webkit-box-shadow: 0px 0px 10px 3.9px rgba(0,0,0,0.22);
-moz-box-shadow:    0px 0px 10px 3.9px rgba(0,0,0,0.22);
box-shadow:         0px 0px 10px 3.9px rgba(0,0,0,0.22);

/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
  #main-header-inner {border:1px solid #a8bb85; width: 884px; height: 229px;}
	#login {width: 253px; float: right; font-size: 16px; font-family: 'Segoe UI Light', Tahoma; font-weight: 600; color: #689e66; margin-top: 22px;}
	#login label, #login #lost-password {display: block;}
	#login label {margin-bottom: 2px}
	#login input {width: 221px; height: 20px;
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 1px solid #b6d3b6; padding: 2px;}
	#login #passwd-box {margin-top: 7px;}
	#login #lost-password {font-style: italic; font-size: 14px; margin-top: 7px; text-decoration: none;}
	#login #lost-password:hover {color: #689e66;/*same as a:hover*/ text-decoration: underline;}
	#login #login-btn { margin-top: 12px; margin-left: 41px; width: 180px; border: 0; height: 30px; background-color: #2b2c2b; color: #f9fef9; border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	 font-size: 16px; font-family: 'Segoe UI Light', Tahoma; font-weight: 600; }

#intro, #text {width: 886px; margin: 0 auto; font-family: 'Segoe UI', Tahoma; font-size: 16px; margin-top: 30px;}
	#intro p:first-child {margin-bottom: 10px;}
	#intro ul, #text ul {margin-left: 60px;}

	#text p {margin-bottom: 10px; text-align: justify;}


#block-wrapper {margin-top: 30px;}
	.block {float: left; width: 300px; margin-right: 33px; text-align: justify; font-size: 16px; font-family: 'Segoe UI', Tahoma;}
	.block img {margin: 0 auto; display: block; margin-bottom: 10px;}
	.block .first, #intro .first {color: #42853f; font-family: 'Segoe UI Bold', Tahoma;}

#footer-img {clear: both; margin-top: 40px;}
#footer {color:#715243; text-align: center; font-family: 'KG Miss Kindergarten', Tahoma; /*IE6*/_font-family: Tahoma; font-size: 14px;}

.cl {clear: both;}
/*Fonts2u.com*/
